.row
  .col-xs-12.col-sm-6
    %p とは、これまでにない新感覚のコミュニケーションサービスです。ゆりえとのコミュニケーションを通して仲良くなりましょう。 <span class="label label-default">全年齢対象</span>
    %p 現在制作中で、近日中にオープンの予定です。
    %p= link_to '<i class="fa fa-rocket"></i> 鋭意制作中'.html_safe, '#', class: 'btn btn-primary', disabled: true
  #profile-panel.col-xs-12
    %h2 ゆりえ (21)
    %ul.list-unstyled
      %li 弥生大学　社会学部　3回生
      %li おもしろい iPhone アプリを探すのが趣味
      %li 日本中の水族館をめぐるのが夢
