.row
  .col-xs-12.col-sm-6
    %h2 Communication Service
    %p ゆりえとコミュニケーションが取れる、これまでにない新感覚サービス、近日オープン！
    %p= link_to '<i class="fa fa-rocket"></i> 鋭意制作中'.html_safe, '#', class: 'btn btn-primary', disabled: true
  #profile-panel.col-xs-12
    %h2 ゆりえ (21)
    %ul.list-unstyled
      %li 弥生女子大学　社会学部　3回生
      %li 夢は世界を平和にすること
      %li 趣味はおもしろい iPhone アプリを探すこと
