.row
  .col-xs-12.col-sm-6
    %h2 利用規約
    %p YURIECHAN に Yo を送信することで、本利用規約に同意したとみなします。
    %ul
      %li 本サービスを利用して発生したいかなる問題について、運営者は一切の責任を負いかねます。
      %li ゆりえとのコミュニケーション記録は、「ゆりえの好きな人ランキング」のような形で公開される可能性があります。
    %p= link_to icon('angle-double-left', 'もどる'), '/', class: 'btn btn-default'
